body {
    font-family: "Lato", sans-serif;
  }
  .background-banner {
    background-image: linear-gradient(45deg,
            rgb(51 43 43 / 75%),
            rgb(20 19 20 / 61%)), url(./img/backgroundimg.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .home-content{
    padding-top: 65px;
  }
  .home-content h1{
    justify-content: center;
    padding-left: 200px;
    padding-top: 70px;
  }
  .home-content p{
    padding-left:295px;
  }
  .navbar{
    background-color: black;
    height:80px;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar h1 {
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size: 35px;
    color: #fcfbfb;
    display: block;
    transition: 0.3s;
  
  }
  
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .card-deck{
    padding: 25px;
    background-color: rgb(214, 247, 214);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  